services:

  postgres:
    image: postgres
    hostname: postgres
    container_name: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: fabien
      POSTGRES_PASSWORD:

