services:
  keycloak:
    image: keycloak/keycloak
    hostname: keycloak
    container_name: keycloak
    restart: always
    command: start --http-enabled=true
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD:
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak_pg
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD:
      KC_PROXY_HEADERS: xforwarded
      KC_HOSTNAME: https://security.mend.ovh
      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: true
    depends_on:
      - keycloak_pg
    networks:
      - syno_traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.entrypoints=web,websecure"
      - "traefik.http.routers.keycloak.rule=Host(`security.mend.ovh`)"
      - "traefik.http.routers.keycloak.tls=true"
      - "traefik.http.routers.keycloak.tls.certresolver=letencrypt"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"

  keycloak_pg:
    image: postgres
    hostname: keycloak_pg
    container_name: keycloak_pg
    restart: always
    environment:
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD:
    networks:
      - syno_traefik
    volumes:
      - "/volume1/docker/keycloak/pg:/var/lib/postgresql/"
networks:
  syno_traefik:
    external: true

