services:
  traefik:
    image: traefik:v3
    hostname: traefik
    container_name: traefik
    restart: always
    environment:
      OVH_ENDPOINT: ovh-eu
      OVH_APPLICATION_KEY: 6c2f8d2e71b9afa6
      OVH_APPLICATION_SECRET:
      OVH_CONSUMER_KEY:
    ports:
      # HTTP
      - "88:80"
      # HTTPS
      - "8443:443"
      # Web UI (enabled by --api.insecure=true)
      - "8888:8080"
      # tcp pgsql entrypoint
      - "5434:5434"
      # tcp clickhouse entrypoint
      - "8125:8125"
      # tcp kafka entrypoint
      - "9094:9094"
    networks:
      - syno_traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /volume1/docker/traefik/config/traefik.yml:/etc/traefik/traefik.yml
      - certif:/certs
  whoami:
      # A container that exposes an API to show its IP address
    image: traefik/whoami
    hostname: whoami
    container_name: whoami
    restart: always
    networks:
      - syno_traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.entrypoints=web,websecure"
      - "traefik.http.routers.whoami.rule=Host(`iam.mend.ovh`)"
      - "traefik.http.routers.whoami.tls=true"
      - "traefik.http.routers.whoami.tls.certresolver=letencrypt"

  acme-sh:
    image: neilpang/acme.sh
    container_name: acme.sh
    command: daemon
    environment:
      OVH_AK: 6c2f8d2e71b9afa6
      OVH_AS:
      OVH_CK:
#    network_mode: host
    networks:
      - syno_traefik
    volumes:
      - certif:/acme.sh
#    stdin_open: true
#    tty: true
#    restart: no

volumes:
  certif:
    external: true

networks:
  syno_traefik:
    external: true
