services:

  postgres:
    image: postgres
    hostname: postgres
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: fabien
      POSTGRES_PASSWORD:
    ports:
      - "15432:5432"
    networks:
      - syno_traefik
    volumes:
      - "/volume1/docker/postgresql/pg:/var/lib/postgresql/"
    labels:
      - "traefik.enable=true"
      - "traefik.tcp.routers.postgresql.entrypoints=tcp_postgresql"
      - "traefik.tcp.routers.postgresql.rule=HostSNI(`db.mend.ovh`)"
      - "traefik.tcp.routers.postgres.tls=true"
      - "traefik.tcp.routers.postgres.tls.certresolver=letencrypt"
      - "traefik.tcp.services.postgresql.loadbalancer.server.port=5432"

networks:
  syno_traefik:
    external: true
